body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;

    grid-template-columns: repeat(5, 20vh);
    grid-template-rows: repeat(5, 20vh);

    margin: auto;
    padding: 0;
}

.grid-item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


.grid-item-2 {
    grid-column: 3 / 4;
    grid-row: 1;
}

.grid-item-3 {
    grid-column: 4 / 5;
    grid-row: 1;
}


.grid-item-4 {
    grid-column: 5 / 6;
    grid-row: 1;
}




.grid-item-5 {
    grid-column: 3 / 4;
    grid-row: 2;
}


.grid-item-6 {
    grid-column: 4 / 5;
    grid-row: 2;
}


.grid-item-7 {
    grid-column: 5 / 6;
    grid-row: 2;
}


.grid-item-8 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}


.grid-item-9 {
    grid-column: 1 / 2;
    grid-row: 5;
}

.grid-item-10 {
    grid-column: 2 / 3;
    grid-row: 5;
}

.grid-item-11 {
    grid-column: 3;
    grid-row: 3;
    width: 60vh;
    height: 60vh;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-item figure {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.grid-item figcaption {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: large;
    font-style: italic;
}

.grid-item-8 figcaption, .grid-item-9 figcaption, .grid-item-10 figcaption, .grid-item-11 figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222222;
    font-size: x-large;
}